
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
nav ul{
    margin-left: 10rem;
  }
  nav ul li{
    margin-left: 3px;
  }
  nav ul li a{
    font-size: 18px;
  }
  nav .btn1{
    display: flex;justify-content: center;
  }
  nav .btn1 button{
    border-radius: 3rem;
    background-color: #6D9773;
  }
  
  @media (max-width: 990px){
    nav .bar{
        margin-top: 1rem;
    }
    nav ul{
        margin: 0;
    }
    nav ul li{
        padding: 0 1rem;
    }
    nav ul li:hover{
        border-left: 2px solid red;
        border-radius: 1rem;
    }
    nav .btn1 {
        display: flex;
        align-items: center;justify-content: center;
    }
    nav .signin{
        margin-top: 1rem;
    }
    nav .text{
        flex-direction: column-reverse;
    }
    
    
  }
.container ul{
    margin-left: 50%;
}
.container ul li{
    margin-left: 3px;
}
.container ul li a{
    font-size: 18px;
}
.header{
    background-image: url("https://static-assets.codecademy.com/assets/path-marketing-page/hero-assets/5cadfefe5f1de806e9704577.svg");
    background-color: #141E3B;
    padding: 2rem 3rem;
    color: #333;
    border-radius: 15px;
    color: #eee;
}
.header .st .text{
    margin-bottom: 2rem;
}
.header .st .text h1{
    font-size:4rem;
    font-weight: bold;
}
.header .udo{
    margin-right: 4rem;
}
.header .udo h2{
    font-size: 30px;
}
.header .udo p{
    font-size: 13px;
}
.st{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lab{
    background: #eee;
    padding: 1rem 3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
    color: #333;
}
.lab span{
    background-color: #6400E4;
    font-size: 20px;font-weight: bold;
    color: #fff;
    height: 2rem;border-radius: 3px;padding: 0 5px;
}
.lab h3{
    font-size: 25px;
    color: #333;
}






.learn{
    margin: 2rem 0;
    padding: 0 2rem;
    
}
.learn .ls{
    margin-top: 1.5rem;
    padding: 0 3rem;
}
.learn h3{
    font-weight: bold;
    font-size: 20px;
    margin: 1rem 0;
}
.learn .ls p{
    font-size: 15px;
    font-weight: bold;
}

#circle {
    width: 7rem;
    height: 7rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #5788FA;
 }
#triangle-up {
    width: 0rem;
    height: 0rem;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 7rem solid #5788FA;
  }
#square{
    width: 7rem;
    height:7rem;
    /* border-radius: 25px; */
    background: #5788FA;
}


.learn .ls .symbol{
    margin-left: auto;margin-right: auto;

}

.project{
    margin: 3rem 0;
    display: flex;
    align-items: center;justify-content: center;
    
}
.project .row{
    width: 70%;height: 100%;
}
.project .row .pro{
    border: 1px solid black;
    padding: 0;margin: 5px;
    overflow:auto;
    
}
.project .row img{
    width: 100%;height: 60%;
    object-fit: cover;
}
.project .row .span{
    margin-top: 5px;
}
.project .row span{
    background: black;
    color: #fff;
    padding: 0 3px;
    border-radius: 2px;
    font-weight: bold;
}
.project .row h4{
    font-size: 20px;
    margin: 5px 0;
}
.project .row p{
    font-size: 13px;
}
.project .row .pro .text{
    padding: 0 1rem;
}
.project .row .pro:hover{
    border: none;
    box-shadow: -5px 5px 0 black;
    position: relative;
    bottom: 5px;
    transition: .3s linear;
}
.willLearn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.willLearn .siuu{
    margin-top: 3rem;
    width: 65%;
}

.willLearn .siuu .content{
    border-top: 1px solid black;
    padding: 1rem;
    border-radius: 2rem;
}

.embed-responsive{
    height: 25rem;
    margin: 2rem 0 4rem;
}

.siuu .contents h1{
    margin-right: 4rem;
}
.headers{
    background-color: #1c2850;
}
#circle2 {
    width: 7rem;
    height: 7rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #233466;
 }
#triangle-up2 {
    width: 0rem;
    height: 0rem;
    border-left: 5rem solid transparent;
    border-right: 5rem solid transparent;
    border-bottom: 7rem solid #233466;
  }
#square2{
    width: 7rem;
    height:7rem;
    /* border-radius: 25px; */
    background: #233466;
}

.header3{
    background-image: url("https://static-assets.codecademy.com/assets/path-marketing-page/hero-assets/5e46f39b68800d0011f5b923.svg");
    background-repeat: no-repeat;
    background-color: #141E3B;
}

.learn3 #circle{
    background: #4FE0B0;
}

.learn3 #square{
    background: #4FE0B0;
}
.learn3 #triangle-up{
    border-bottom: 7rem solid #4FE0B0;
}


/*footer*/
.footer-distributed {
    background-color: #6D9773;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 20px 50px;
}

.footer-distributed .footer-left p {
    color: #ffffff;
    font-size: 14px;
    margin: 0;
}
.footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
}

.footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}

.footer-distributed .footer-right {
    float: right;
    max-width: 180px;
}

.footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #6D9773;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer-distributed .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
    text-decoration: underline;
}
@media (max-width: 740px){
    .embed-responsive iframe{
        width: 90%;
    }
}